<form class="message-form-container" data-action="submit->chat#sendMessage" accept-charset="UTF-8" method="post">
  <input type="hidden" name="authenticity_token" value="f6eoBZpYTZKVaikRkb7Goq-JMQ2NGX_CYLWWtCb6Gkk6FlRKCD66lJcFTiLbW-cg2L3LEN-kN5uK7pp9VczQWg"
         autocomplete="off">
  <input placeholder="Chat here..." class="message-form-input" data-chat-target="textinput"
         type="text" name="content" id="content">
  <button name="button" type="submit"
          class="comment-button message-form-submit">
    Sent
  </button>
</form>

