<div id="message_<%= message.id %>" class="message-container">
  <div class="message-body">
      <span class="message">
        <%= message.content %>
      </span>
  </div>
  <% if message.created_at != message.updated_at %>
    <div class="info-edit-message">
      Edit at <%= message.updated_at.strftime("%Y-%m-%d %H:%M") %>
    </div>
  <% end %>
</div>