<p style="color: green"><%= notice %></p>

<% content_for :title, "Users" %>

<h1>Users</h1>

<div id="users">
  <ul class="users">
    <% @users.each do |user| %>
    <li>
      <%= render partial: "user_paging", locals: {user: user} %>
    </li> 
    <% end %>
  </ul>
  <%= will_paginate @clients, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>

<%= link_to "New user", new_user_path %>
