<%= form_with(model: [@micropost, @micropost.comments],
              url:  micropost_comment_reply_url(micropost_id: micropost.parent_id, comment_id: micropost.id),
              method: :post, local: false, class: 'reply-form') do |f| %>
  <div class="field">
    <%= f.text_area :content, class: "input-comment-reply", placeholder: "Comment here..."%>
  </div>
  <%= f.submit "Comment", class: " btn btn-primary", id: "button-submit" %>
<% end %>

