@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

$light_gray: #777;

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light_gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $light_gray;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }

  section {
    padding: 10px 0;
    margin-top: 20px;

    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }

    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
  width: 100px;
  height: 100px;
}

.gravatar_edit {
  margin-top: 15px;
}

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;

  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;

  .form-control {
    color: $state-danger-text;
  }
}

.alert {
  margin-top: 30px !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;

  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.users {
  list-style: none;
  margin: 0;

  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.microposts {
  list-style: none;
  padding: 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }

  .user {
    margin-top: 5em;
    padding-top: 0;
  }

  .content {
    display: block;
    margin-left: 60px;

    img {
      display: block;
      padding: 5px 0;
    }
  }

  .timestamp {
    color: $gray-light;
    display: block;
    margin-right: 60px;
  }

  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.image {
  margin-top: 10px;

  input {
    border: 0;
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;

  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;

    &:first-child {
      padding-left: 0;
      border: 0;
    }

    &:hover {
      text-decoration: none;
      color: blue;
    }
  }

  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;

  .gravatar {
    margin: 1px 1px;
  }

  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

.button-sso-login {
  margin: 10px 0;
}

.micropost-content {
  margin: 20px;
}
// comment form
#comment-form {
  margin-top: 60px;
}

.comment-form {
  border: 1px solid #777777;
  border-radius: 20px;
}

/* Container comment */
.comment-body {
  background-color: rgba(119, 119, 119, 0.2);
  padding: 10px;
  border-radius: 10px;
}

#comment {
  margin: 30px 10px
}

.user {
  font-weight: bold;
}


.comment-box {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #f0f2f5;
  flex-direction: column;
}

/* Input comment */
.comment-input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 14px;
  background-color: #fff;
  color: #1c1e21;
}

.content {
  margin: 10px 20px;
  font-size: 16px;
}

.comment-input::placeholder {
  color: #606770;
}

/* Button comment */
.button-container {
  width: 100%;
  display: flex;
  justify-content: right;
}


.comment-button {
  width: 100px ;
  background-color: #1877f2;
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.comment-button:hover {
  background-color: #165fbb;
}

.comment-button:active {
  background-color: #144a96;
}

#button-cancel {
  background-color: gainsboro;
}

#button-cancel:hover {
  color: white;
  background-color: #777777;
}

// reply button
/* Button reply */
.reply-btn {
  background: none;
  border: none;
  color: #6b6568; /* Màu chữ xám nhạt */
  font-size: 12px;
  cursor: pointer;
  padding: 0;
  margin: 0 4px;
  font-weight: 600;
  transition: color 0.2s;
}

.reply-btn:hover {
  color: #161718; /* Màu xanh khi hover */
  text-decoration: underline;
}

.reply-btn:focus {
  outline: none;
}

.reactions {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid lightgrey;
}

.micropost-body {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgrey;
}

.reactions-stats {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
}

.reaction-stats,
.comment-stats {
  color: grey;
  padding: 8px 8px;
  border-radius: 5px;
}

.reaction-stats.love,
.react-comment.love
{
  color: hotpink;
}

.reaction-stats.sad,
.react-comment.sad{
  color: orange;
}

.reaction-stats.angry,
.react-comment.angry{
  color: red;
}

.reaction-icon {
  color: grey;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  background-color: transparent;
}

.reaction-icon.love:hover {
  cursor: pointer;
  color: hotpink;
}

.reaction-icon.sad:hover {
  cursor: pointer;
  color: orange;
}

.reaction-icon.angry:hover {
  cursor: pointer;
  color: red;
}

.react-comment-container {
  display: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: -30px;
  left: -10px;
}

.comment-bottom {
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.react-comment-container:hover {
  display: block;
}

.react-comment {
  padding: 4px 8px;
  border: none;
  background-color: transparent;
}

.react-comment:hover {
  border: none;
  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 50%;
}

#love-btn {
  position: relative;
}

#love-btn:hover + .react-comment-container {
  display: block;
}

#love-btn::after {
  content: "";
  position: absolute;
  left: -10px;
  top: -10px;
  width: 50px;
  height: 20px ;
}

